include CHANGELOG.md
include CONTRIBUTING.md
include LICENSE
include README.md
include SECURITY.md
recursive-include docs *.md
recursive-include examples *.csv *.json *.md
recursive-include schema *.json
recursive-include tests *.py
